@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
  }
}

@layer utilities {
  .font-maddac {
    font-family: 'Maddac', sans-serif;
  }
  
  .font-galey {
    font-family: 'Galey', sans-serif;
  }
  
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }
  
  .font-modern-outdoor {
    font-family: 'Modern Outdoor', sans-serif;
  }
  
  .font-uphoria {
    font-family: 'Uphoria', serif;
  }
  
  .glassmorphism {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .glassmorphism-dark {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}

@media screen and (max-width: 768px) {
  input,
  textarea {
    font-size: 16px !important;
  }
}


/* Hide scrollbars globally while keeping scroll functionality */
body, * {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
